extends layout

block content
  h1= title
  p Welcome to #{title}
  #content
  script(src="/socket.io/socket.io.js")
  script(src="https://d3js.org/d3.v5.min.js")
  script.
    var socket = io('//localhost:3001');
    socket.on('update', function (samples) { 
      let innerHTML = `<h1>${samples.iter}</h1>`;
      for(let host in samples.data){
        innerHTML += `
        <h1>${host}:</h1>
        <p>${samples.data[host].msg}</p>
        <p>probe:${samples.data[host].probe}</p>
        <p>ping:${samples.data[host].ping&&samples.data[host].ping.avg}</p>
        `
      }
      
      document.getElementById("content").innerHTML =innerHTML;
      console.log(samples);
    });
